.chip {
  align-items: center;
  background-color: var(--grey);
  border-radius: 1.5rem;
  cursor: default;
  display: flex;
  font-size: 1.4rem;
  gap: 0.5rem;
  padding: 0.25rem 0.75rem;
  width: fit-content;
}
