.courseworkView {
  padding: 1rem;
  padding-top: 1.8rem;
  max-height: 40vh;
  overflow-y: auto;
}

.hr {
  border-bottom-width: 0.15rem;
  border-top-width: 0.1rem;
  border-style: solid;
}

.profileView {
  padding: 1rem;
  padding-top: 2.3rem;
  max-height: 40vh;
  overflow-y: auto;
}
