@use "src/app/_styles/variables.scss";

.skillsInput {
  border-color: var(--grey);
  border-radius: 0.75rem;
  border-style: solid;
  border-width: 0.2rem;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  gap: 0.5rem;
  padding: 0.5rem;

  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .left {
      align-items: center;
      display: flex;
      flex-grow: 1;
      gap: 0.5rem;

      .info {
        align-items: center;
        background-color: var(--grey);
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        height: 2rem;
        justify-content: center;
        position: relative;
        width: 2rem;

        &:hover::before {
          background-color: var(--background);
          border-radius: 0.75rem;
          bottom: 100%;
          box-shadow: 0 0.125rem 0.5rem var(--grey-stroke);
          color: var(--grey-stroke);
          content: attr(data-info);
          font-size: 1.2rem;
          line-height: 1.2;
          margin-bottom: 0.5rem;
          max-width: 20rem;
          padding: 0.5rem;
          position: absolute;
          text-align: justify;
          width: max-content;
          z-index: variables.$hover-z-index;
        }
      }
    }

    .right {
      text-align: end;
    }
  }

  .skills {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .input {
      background: none;
      border: none;
      color: var(--blue);
      flex: 1 0 22rem;
      outline: none;

      &::placeholder {
        color: var(--grey-stroke);
      }
    }
  }

  &:focus-within {
    border-color: var(--grey-stroke);
  }
}
